@model EntrePatasWEB.Models.SolicitudDTO

@{
    ViewData["Title"] = "Detalles de Solicitud";
}

<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-secondary text-white">
            <h3 class="mb-0">Solicitud Exitosa! Te contactaremos en la brevedad a tu correo registrado.</h3>
        </div>
        <div class="card-body">
            <dl class="row">


                <dt class="col-sm-3 fw-bold text-secondary">
                    Fecha de Solicitud
                </dt>
                <dd class="col-sm-9">
                    @Model.FechaSolicitud.ToString("dd/MM/yyyy")
                </dd>

                <dt class="col-sm-3 fw-bold text-secondary">
                    Estado
                </dt>
                <dd class="col-sm-9">
                    <span class="badge @(Model.Estado == "Aprobado" ? "bg-success" : Model.Estado == "Pendiente" ? "bg-warning text-dark" : "bg-danger")">
                        @Html.DisplayFor(model => model.Estado)
                    </span>
                </dd>
            </dl>
        </div>
        <div class="card-footer text-end">
            <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-secondary">Volver</a>
        </div>
    </div>
</div>
